In [1]:
"""
varlık ismi tanıma: metin(cümle) -> metin içerisinde bulunan isimleri tanımla
"""

#import libraries
import pandas as pd
import spacy 

#spacy modeli ile varlık ismi tanımla
nlp = spacy.load("en_core_web_sm") #spacy kütüphanesi ingilizce dil modeli

WARNING:tensorflow:From C:\Users\kezer\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\keras\src\losses.py:2940: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
content = "Alice works at Amazon  and lived in London. She visited The British Museum last weekend"

doc=nlp(content) #bu işlem metindeki varlılları (entities) analiz eder 

for ent in doc.ents:
    #ent.text: varlık ismi 
    #ent.start_char and ent.end_char: varlığın metindeki başlangıç ve bitiş karakterleri
    #ent.label_:varrlık türü
    print(ent.text,ent.start_char,ent.end_char,ent.label_)

Alice 0 5 PERSON
Amazon 15 21 ORG
London 36 42 GPE
The British Museum 56 74 ORG
last weekend 75 87 DATE

In [3]:
#varlığın kök hali
entities = [(ent.text,ent.label_, ent.lemma_) for ent in doc.ents]
entities

[('Alice', 'PERSON', 'Alice'),
 ('Amazon', 'ORG', 'Amazon'),
 ('London', 'GPE', 'London'),
 ('The British Museum', 'ORG', 'the British Museum'),
 ('last weekend', 'DATE', 'last weekend')]

In [4]:
#varlık listesini pandas dataframe çevirme
df = pd.DataFrame(entities,columns=["text","type","lemma"])
df

                 text    type               lemma
0               Alice  PERSON               Alice
1              Amazon     ORG              Amazon
2              London     GPE              London
3  The British Museum     ORG  the British Museum
4        last weekend    DATE        last weekend